@import '../Helpers/mixins';
@import '../Helpers/variables';

.generateText {
    &__text {
        font-family: 'Poppins', sans-serif;
        font-size: $medium-font-size;
        border-radius: $radius;
        padding: 10px;
        border: none;
        background-color: $white;

        &__success {
            background-color: green;
        }

        &__danger {
            background-color: red;
        }

        
    }
}