@import '../Helpers/mixins';
@import '../Helpers/variables';

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;

    &__title {
        font-size: $mega-font-size;
    }
}