@import '../Helpers/mixins';
@import '../Helpers/variables';

.timer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &__time {
        width: 50px;
        border-radius: $radius;
        font-size: $bigger-font-size;
    }

    &__button {
        background-color: $dark-color;
        color: $dark-text-color;
        font-size: $medium-font-size;
        border: none;
        padding: 10px;
        border-radius: $radius;
    }
}